In [2]:
import pandas as pd
import googlemaps
import os
from collections import defaultdict

## Data Processing

In [44]:
data = pd.read_csv('post_primary_school_list.csv')

In [45]:
data = data[154:155]

In [46]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,School Gender - Post Primary,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,NaN,Dublin,A94FK84,12888681.0,...,Boys,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,NaN,"1,021","1,021"

In [11]:
data = data.fillna('')

In [12]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,School Gender - Post Primary,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,Boys,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,,"1,021","1,021"

In [13]:
school_addresses = data['Official School Name'] + ' ' + data['Address 1'] + ' ' + data['Address 2'] + ' ' + data['Address 3'] + ' ' + data['Address 4']

In [14]:
school_addresses

154    Blackrock College Rock Road Blackrock Co. Dublin
dtype: object

## Google Map

In [37]:
KEY = "AIzaSyDL_YVLa4qg-Pi4Q_W_10e1Kiih_b8Hmv0"
gmaps = googlemaps.Client(key=KEY)

In [38]:
placeid = []

In [39]:
for school_address in school_addresses:
    #get the place_id for next step
    address = school_address
    result = gmaps.geocode(address)
    for r in result:
        print(r['place_id'])
        placeid.append (r['place_id'])

ChIJUVrVbdAIZ0gRC3qozmRomPQ

In [40]:
# use place_id to get the details of the place and get the photo reference
name_photoref = defaultdict(list)
values_list = []
for id in placeid:
    response = gmaps.place(place_id=id)
    name = (response['result'])['name']
    print(name)
    try:
        photos = (response['result'])['photos']
        for photo in photos:
            name_photoref[name].append(photo['photo_reference'])
    except:
        pass
    values = name_photoref[name]
    values_list.append(values)

Blackrock College

In [41]:
values_list

[['CmRaAAAAywYWI2NqwaS5rPasG__5KBuu8uSQUbbCRoHk0WNtRIThLUXxRbZ4oyzeu-2z2OZDsoOKBQk_1Y2c-m_HxArHMtkix7KM55f1N2FKpuSL0ZsizTag4iH9_l5vx-WbmjgpEhDRHZGLsAkyHRRQJG2863QSGhTO3B32dMuRPTypZ4ljOEPpzdjhEg',
  'CmRaAAAAPMRvnVsI5jTIGTeLadJX-xnkdYLbcP4l7JDpbh9NYwpbWkWlagQLMZacP2b1OpFzeq3DVAEj8wXoSVeyNrgHZTkuUTWmgCsne5VbIa4LjV5Z4MHadlNSDOVBHv4oLigCEhAcaYydE0bTE_uozZCNFWkNGhTHJ1PWR5Pxl6r8qUnd-CoisOcevg',
  'CmRaAAAAAa_MFxPgA-R3ClN_nrOjnF8Fjo8cQFjWEpVaLpRiwReW2gSbseVxEAa0j8c3FMEh_XxhF9TimY0IEeFzc6WpmVbIhLZ6MA8VhgM8Nic0a8Z4oSVa4rFlBXppW3iN2cM8EhA3vMcKksa8m2_AugpKiDkFGhSdr_4NO3gg8YxG9GC55TP6nhK7qA',
  'CmRaAAAAsmFJ5Xflp38UOb_VwCii35NU7L9NaPWHaNCDmWPcF1ir7BWriNYhcEYu5s0e47Xq_W2YpPjSBw5j2G3mOHh0YZgCm8bmHui2YlzOxU9rAX1IgW7mm3hb23l_Fmajl3OREhDyMyhG_ZK2HPdgMijWfuYnGhSixCDQQLPbFaKGpfUDwTjpLOPAGA',
  'CmRaAAAAwEV7hDICw6DIRZPTrMgZxiUq1G_k79Y8G4Ayv9XOgqb3V7zMYn9phl65gyuGgdO1NHC27D9OR7EacDJTKedKm4Jtn_5JpUfPbk0EWbdeqhnVXo45rtPH5BQFTSwmZw31EhB3UyjfGr8ZbDvhVAu2VLvsGhRCHLoHQ7k8SDRwo2ps0EOFYA5tUg']]

In [66]:
reference = pd.DataFrame(values_list)

In [67]:
reference = reference.iloc[:,[0,1,2,3,4]]

In [68]:
reference

,0,1,2,3,4
0,CmRaAAAAywYWI2NqwaS5rPasG__5KBuu8uSQUbbCRoHk0W...,CmRaAAAAPMRvnVsI5jTIGTeLadJX-xnkdYLbcP4l7JDpbh...,CmRaAAAAAa_MFxPgA-R3ClN_nrOjnF8Fjo8cQFjWEpVaLp...,CmRaAAAAsmFJ5Xflp38UOb_VwCii35NU7L9NaPWHaNCDmW...,CmRaAAAAwEV7hDICw6DIRZPTrMgZxiUq1G_k79Y8G4Ayv9...

In [48]:
type(reference)

pandas.core.frame.DataFrame

In [49]:
reference = reference.rename(columns={0:'Photo Reference 1', 1:'Photo Reference 2', 2:'Photo Reference 3',\
                   3:'Photo Reference 4', 4:'Photo Reference 5'})

In [50]:
reference

,Photo Reference 1,Photo Reference 2,Photo Reference 3,Photo Reference 4,Photo Reference 5
0,CmRaAAAAywYWI2NqwaS5rPasG__5KBuu8uSQUbbCRoHk0W...,CmRaAAAAPMRvnVsI5jTIGTeLadJX-xnkdYLbcP4l7JDpbh...,CmRaAAAAAa_MFxPgA-R3ClN_nrOjnF8Fjo8cQFjWEpVaLp...,CmRaAAAAsmFJ5Xflp38UOb_VwCii35NU7L9NaPWHaNCDmW...,CmRaAAAAwEV7hDICw6DIRZPTrMgZxiUq1G_k79Y8G4Ayv9...

In [51]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,School Gender - Post Primary,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,NaN,Dublin,A94FK84,12888681.0,...,Boys,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,NaN,"1,021","1,021"

In [30]:
data[reference.columns] = reference

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils,Photo Reference 1,Photo Reference 2,Photo Reference 3,Photo Reference 4,Photo Reference 5
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,CATHOLIC,Open,,"1,021","1,021",NaN,NaN,NaN,NaN,NaN

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils,Photo Reference 1,Photo Reference 2,Photo Reference 3,Photo Reference 4,Photo Reference 5
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,CATHOLIC,Open,,"1,021","1,021",NaN,NaN,NaN,NaN,NaN

In [54]:
print("the file have been saved" + os.getcwd())

the file have been saved/Users/leejoonsung/Document/Python

In [51]:
data.to_csv('new.csv')