In [1]:
import pandas as pd
import googlemaps
import os
from collections import defaultdict

## Data Processing

In [2]:
data = pd.read_csv('post_primary_school_list.csv')

In [3]:
data = data[154:155]

In [4]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,School Gender - Post Primary,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,NaN,Dublin,A94FK84,12888681.0,...,Boys,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,NaN,"1,021","1,021"

In [5]:
data = data.fillna('')

In [6]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,School Gender - Post Primary,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,Boys,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,,"1,021","1,021"

In [7]:
school_addresses = data['Official School Name'] + ' ' + data['Address 1'] + ' ' + data['Address 2'] + ' ' + data['Address 3'] + ' ' + data['Address 4']

In [8]:
school_addresses

154    Blackrock College Rock Road Blackrock Co. Dublin
dtype: object

## Google Map

In [9]:
KEY = "AIzaSyDL_YVLa4qg-Pi4Q_W_10e1Kiih_b8Hmv0"
gmaps = googlemaps.Client(key=KEY)

In [10]:
placeid = []

In [11]:
for school_address in school_addresses:
    #get the place_id for next step
    address = school_address
    result = gmaps.geocode(address)
    for r in result:
        print(r['place_id'])
        placeid.append (r['place_id'])

ChIJUVrVbdAIZ0gRC3qozmRomPQ

In [12]:
# use place_id to get the details of the place and get the photo reference
name_photoref = defaultdict(list)
values_list = []
for id in placeid:
    response = gmaps.place(place_id=id)
    name = (response['result'])['name']
    print(name)
    try:
        photos = (response['result'])['photos']
        for photo in photos:
            name_photoref[name].append(photo['photo_reference'])
    except:
        pass
    values = name_photoref[name]
    values_list.append(values)

Blackrock College

In [13]:
values_list

[['CmRaAAAAwENUxAXrjjhMjX3hMbhOKiWBP0Mi0TGbzePgerFyHBA-26lJy_3mCTrJthn3UxW0q76pfZ1_mHXgWCkDObC06hlgEXP2x8fxlj98OdB9IyLT9ilXLTe4mN_BkpdN0aDzEhDZ2lWt9Hwa68jf5iCT9aHlGhR8m-Yy2kIoBslXbKKw_v8AMfXMpQ',
  'CmRaAAAA6r6l8eWWFWB1MbrkMjPUAxAO_htkUmhyv8tCx2XhH9dOB_NYTd3v7qeO3ULIp59ZdBTR3D5_4-qw49pdRXkmReCPhOqS06MGzgYhWMPWrwyDUN8-7ExbyflYIdTULEpEEhCJMZx7aBg0GQoHfelceMgRGhTxaWKkerQ1PMQBK1Rd-dd2thCnrA',
  'CmRaAAAAYkQhPpu3jdepIsJkTYCQVLwkcNkZFse7XguOhgjANVE2dvl9FJB5S1f1ue0U8lmvFYj4xASnRmJWgiVA44BD2rJ77DyWMYu8REwLUUHrNSf6Qhmw1CpLJEf6EA8eFQONEhCTgOFe0j6W_elXyaHBy0VOGhR1Xw6iCfcTGQRiWxVEziIbrO3oog',
  'CmRaAAAAOVlCFp4eu5pEFaXp-nZVUp5CGyfZr_CS4VIg1EvVpFfVYq1CcnanYP3k9dvnWTHEUidIXr8wHH9g3t3xBFJxv2if7tro9_vZWC7W-lkANF6_QtS37ycLUvZ7OqiG5B7rEhC3Q5x60KakpjX68A1y_2QJGhRF8fBeqgi28GsTdU0x-My39vlNsg',
  'CmRaAAAAFyBaB3ycPO-BffF813180H-AeF-DZNjlGCBCI6lZ0yHMd8MALGw9btdVVChdemGbbF6fJus4N4cQERhqA-QCCLOt9bv7wYs2Ghyv9e1SxQQEmhDNdYHKKTkFbvZ6w86HEhBVFuUebrHYL61VBC8FyX-4GhSL-VXvvtRXvzwLGsZD1pRl0pU6-A']]

In [14]:
reference = pd.DataFrame(values_list)

In [15]:
reference = reference.iloc[:,[0,1,2,3,4]]

In [23]:
reference

,0,1,2,3,4
0,CmRaAAAAwENUxAXrjjhMjX3hMbhOKiWBP0Mi0TGbzePger...,CmRaAAAA6r6l8eWWFWB1MbrkMjPUAxAO_htkUmhyv8tCx2...,CmRaAAAAYkQhPpu3jdepIsJkTYCQVLwkcNkZFse7XguOhg...,CmRaAAAAOVlCFp4eu5pEFaXp-nZVUp5CGyfZr_CS4VIg1E...,CmRaAAAAFyBaB3ycPO-BffF813180H-AeF-DZNjlGCBCI6...

In [24]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,Pupil Attendance Type,Irish Classification - Post Primary,Gaeltacht Area Location (Y/N),Fee Paying School (Y/N),Ethos/Religion,Open/Closed Status,Total Girls,Total Boys,Total Pupils,test
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,Mixed,No subjects taught through Irish,N,Y,CATHOLIC,Open,,"1,021","1,021",NaN

In [25]:
data[reference.columns] = reference

In [26]:
data

,Roll Number,Official School Name,website,Address 1,Address 2,Address 3,Address 4,County,Eircode,Phone,...,Open/Closed Status,Total Girls,Total Boys,Total Pupils,test,0,1,2,3,4
154,60030V,Blackrock College,https://www.blackrockcollege.com,Rock Road,Blackrock,Co. Dublin,,Dublin,A94FK84,12888681.0,...,Open,,"1,021","1,021",NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
print("the file have been saved" + os.getcwd())

In [ ]:
data.to_csv('new.csv')